@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* font-family: 'Open Sans', sans-serif; */

/* Section 1 with IEEE emblem and it's info */

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
.section2{
	width: 100%;
	min-height: 55vh;
	background-color: white;
}
.container2{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section2{
	float: left;
	width: 55%;
}
.image-section2{
	float: right;
	width: 45%;
}
.image-section2 img{
	width: 70%;
	height: auto;
}
.content-section2 .title2{
	text-transform: uppercase;
	font-size: 28px;
    
}
.content-section2 .title2 h1{
	text-transform: uppercase;
	font-size: revert;
    font-family: 'Merriweather', serif;
    
}
.content-section2 .content2 h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: xx-large;
	font-family: 'Open Sans', sans-serif;
}
.content-section2 .content2 p{
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size:  x-large;
	line-height: 1.5;
	color: black;
}

/* Below Codes for responsive page */
@media screen and (max-width: 768px){
	.container2{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section2{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section2{
	float:none;
	width:100%;
	
}
.image-section2 img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section2 .title2{
	text-align: center;
	font-size: 19px;
}